html,body {
  font-family: Helvetica, san-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
  width:1200px;
  height:100px;
  align-content: center;

}


/*Header section*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 1;
    background-color: black;
}

header img {
    padding: 0;
    margin-left: 10px;
    height: 50px;
}
nav span{
  display:inline-block;
  padding: 20px 10px;
}
nav {
  text-align: right;
  flex-grow: 1;
}
a {
  color:seashell;
}
/*Main section*/

.main {
     height: 700px;
     max-width:1200px;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     flex-wrap: wrap;
     background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
     background-size: cover;
     background-position: center;
     margin: 0 auto;

}
.content {

    background-color: black;
    width: 1200px;

    margin:auto;

}
/* store section*/
.store {
  max-width: 1000px;

  margin:auto;


}
.store header {
  padding:0;

}
/* items section*/
.items{

  width: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.item{
  width:300px;
  height:300px;
  padding: 5px;



}
.item img {
  display:block;

  height: 200px;
  margin: 10px;


}
.item span {
  display: block;
  padding:5px;
  font-weight:bold;
  text-align: center;
}

/*locations sections*/
.info {
  min-height: 500px;
  opacity: 1;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  border-radius: 10px;
}
.locations {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-content: space-around;
}
.location {
    padding: 10px;
    border: 1px solid white;
    background-color: black;
    opacity: 1;
    color: seashell;
    flex-basis: 300px;
    margin: 0 20px;
}
/*contact section*/
.contact {
  height: 200px;
  align-items: center;
}
/* footer */
footer {
  position: relative;
  text-align:left;
  padding-left: 20px;
}
h2,h3,h4{
  margin:0;
  padding-left: 10px;
}
